.error-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.error-container span {
    font-size: 6vw;
    width: 100%;
    text-align: center;
}
