.card-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-top: solid 1px var(--background);
    border-bottom: solid 1px var(--background);
    width: 100%;
    margin-top: 2vw;
}
.card-body-points {
    font-size: 7vw;
    margin-top: 2vw;
}
.points-number {
    font-family: "SegoeUiBold", sans-serif;
}
.points-text {
    font-size: 5vw;
    margin-left: 2vw;
}
.card-body-items {
    display: flex;
    margin-top: 4vw;
}
.card-body-item-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
}
.card-body-item-title {
    font-size: 3vw;
}
.card-body-item-value {
    font-size: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
